<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Home Server</title>
  </head>
<body>

    <div class="center jumbotron"><div class="row">
    
    <div id="left" style="float:left; width:63%;">
    <h1>Hello! </h1>
    <h2>
    A home server<br> <br>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-backdrop="static">
  Guests, Click here
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enter User's name you know.</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Browse</button>
      </div>
    </div>
  </div>
</div>
     <br>
    </h2><br>
    <%= link_to image_tag("logo.png", alt: "logo"), 'http://goo.gl/FH7KaX' %>
    <br> <br>
    To know <%= link_to "more", help_path %>
    </div>
    
    
    <div id="right" style="float:right; width:37%;"><br>
    <h2>Welcome back?</h2> <br>
    <div align="left">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    <%= f.label :remember_me, class: "checkbox inline" do %> 
        <%= f.check_box :remember_me %>
        <span>Remember this login</span>
      <% end %>
      <%= f.submit "Log In", class: "btn btn-primary" %>
    <% end %></div>
    <br><br> 
    <h3> Ask for admin access <%= link_to "here ", signup_path %></h3>
    </div>
    
    </div></div>
</body>
</html>