<% if @folders != nil %>
<div class="col-md-4">
    <div class="panel panel-primary"><div class="panel-heading">
    <h3 class="panel-title">Folders</h3>
  </div>
   <div class="list-group">
<% @folders.each do |folder| %>
<%= link_to folder, params.merge(to:linkOf(pathTo,folder)), class: "list-group-item" %>
  <% end %>
</div></div>
</div><% end %>
<% if @files != nil %>
<div class="col-md-8">
  <div class="panel panel-success"><div class="panel-heading">
    <h3 class="panel-title">Files</h3>
  </div>
  <% @files.each do |file| %>
  <div class="panel-body">

<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag("/"+@uploadPath+"/"+file, alt: file) %>
      <div class="caption">
        <h4><%= fname(file) %></h4>
        
        <p><b><%= fext(file) %> file</b></p>
        
<div class="btn-group dropup">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Open
</button>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= fname(file) %></h4>
      </div>
      <div class="modal-body">
        <%= image_tag("/"+@uploadPath+"/"+file, alt: file) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Remove", "#" %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Edit", "#" %></li>
    <li><%= link_to "Info", "#" %></li>
  </ul>
</div></div></div></div>

</div><% end %>
</div>



  </div><% end %>